<%- if ( !notice.nil? && !notice.empty? ) -%>
  <h4 class="notice" ><%= notice %></h4>
<%- end -%>
<%- if ( !alert.nil? && !alert.empty? ) -%>
  <h4 class="alert" style="text-align: left"><%= alert %></h4>
<%- end -%>
